<toaster-container></toaster-container>

<div class="btn-group">

Trending Globally :
    <span ng-repeat="trend in globalTrends">

        <button type="button" class="trend btn btn-sm btn-default" ng-click="setSearchText(trend.query)"> {{trend.name}}</button>
        </span>

    <br>

Trending Locally (India) :
    <span ng-repeat="trend in localTrends">

        <button type="button" class="trend btn btn-sm btn-default" ng-click="setSearchText(trend.query)"> {{trend.name}}</button>
        </span>
</div>
<br><br>
<div class="form-group form-input-element">

    <div class="col-sm-8">

        <input class="form-control input-lg"  placeholder="Search Query"
               ng-model="searchText">


    </div>
    <div class="col-sm-4">
        <button class="btn btn-lg btn-primary" ng-click="search(searchText)">Start !</button>
    </div>
</div>
<br>

<div>
<hr>
<div class="row">
    <div class="col-sm-6">
        <b>Sentiment : {{tweetsData[searchText].overallAnalysis.sentiment}}</b>
        <br>
        Number of tweets : {{tweetsData[searchText].overallAnalysis.numberOfTweets}}
        <br>
        Number of sentimental tweets : {{tweetsData[searchText].overallAnalysis.numberOfSentimentalTweets}}
        <br>
        Total score : {{tweetsData[searchText].overallAnalysis.totalScore}}
        <br>
        Average score : {{tweetsData[searchText].overallAnalysis.averageScore}}
</div>
    <div class="col-sm-6">

       <h4> <i ng-class="getSentimentClass()"></i></h4>
    </div>

</div>

<hr>
Top  Words :
<br>
<span ng-repeat="word in tweetsData[searchText].allWordsAnalysis | orderBy : word.appearances | limitTo : 10">
    <span class="labelstyle"> <span class="label label-info verticalMargined "> {{word.word}} <sup>{{word.appearances}}</sup></span></span>
</span>
<br>
<hr>
Top Positive Words :
  <br>
<span ng-repeat="positiveWord in tweetsData[searchText].sentimentalWordsAnalysis.positive | limitTo : 10">
   <span class="labelstyle"> <span class="verticalMargined label label-success"> {{positiveWord.word}} <sup>{{positiveWord.appearances}}</sup></span></span>
</span>
  <br>
  <hr>
Top negative Words :
  <br>
<span ng-repeat="negativeWord in tweetsData[searchText].sentimentalWordsAnalysis.negative | limitTo : 10">
    <span class="labelstyle"> <span class="verticalMargined label label-danger"> {{negativeWord.word}} <sup>{{negativeWord.appearances}}</sup></span></span>
</span>
<br>
<hr>
</div>
